################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/project/.vs/shopping/v14
*.opendb
*.sdf
